cache/*
config/*
azureus/*
mozilla/*
local/*
macromedia/*
gstreamer/*
gnupg/*
gksu.lock/*
gimp/*
swt/*
dmrc/*
face/*
ICEauthority/*
dbus/*
nv/*
android/*

**/*.bin

*.log

dbus/*
vim/*
vim/.vim/*
!vim/.vimrc*
!vim/.vim
!vim/.vim/colors
vim/.vimrc

bash/.bash_history
vim/.viminfo
X/.Xauthority
X/.xsession-errors
ssh/.ssh/id_rsa
ssh/.ssh/known_hosts
cinnamon/.cinnamon/spices.cache
kde/.kde/tmp-*
kde/.kde/cache-*
kde/.kde/data/stalefiles/*
kde/.kde/socket-*
kde/.kde/share/apps/*
kde/.kde/share/apps/korganizer
kde/.kde/share/config/kconf_updaterc
kde/.kde/share/apps/RecentDocuments/
kde/.kde/share/apps/kcookiejar/*
kde/.kde/share/apps/kfileplaces/*
kde/.kde/share/apps/konsole/*
kde/.kde/share/apps/konsole/*

TODO/.TODO
updateInfoAdded=true

\#*#
emacs/.emacs.d/auto-save-list/*
**/.\#*
**/*~

#Never ignore hooks
!*/pre_stow_hook.py
!*/post_stow_hook.py
