cache/*
config/*
azureus/*
mozilla/*
local/*
macromedia/*
gstreamer/*
gnupg/*
gksu.lock/*
gimp/*
swt/*
dmrc/*
face/*
ICEauthority/*
dbus/*

*.log

dbus/*
vim/*
vim/.vim/*
!vim/.vimrc
!vim/.vim
!vim/.vim/colors

bash/.bash_history
vim/.viminfo
X/.Xauthority
X/.xsession-errors
ssh/.ssh/id_rsa
ssh/.ssh/known_hosts
cinnamon/.cinnamon/spices.cache
kde/.kde/tmp-*
kde/.kde/cache-*
kde/.kde/socket-*
kde/.kde/share/apps/korganizer
kde/.kde/share/config/kconf_updaterc

TODO/.TODO
updateInfoAdded=true

\#*#
emacs/.emacs.d/auto-save-list/*